---
import Root from '../layouts/Root.astro'
---

<Root>
	<section slot="main-content">
		<h2>Bienvenidos Al blog computacional</h2>

		<p>
			Dirigido a estudiantes de 8vo grado en la asignatura de <strong
				>"Taller Vocacional Del Pensamiento Computacional"</strong
			>
		</p>

		<p>
			La lectura y la escritura son fundamentales en el Pensamiento
			Computacional. La lectura ayuda a entender conceptos como algoritmos,
			mientras que la escritura facilita la expresión clara de ideas a través de
			código. Ambas habilidades fomentan la creatividad, la resolución de
			problemas y la colaboración, esenciales en el mundo digital.
		</p>

		<p>
			En nuestro blog, encontrarás recursos para explorar el Pensamiento
			Computacional de manera práctica y divertida. Ofrecemos una experiencia de
			aprendizaje que incluye comprensión de algoritmos, diagram de flujo y
			reflexión mediante actividades colaborativas
		</p>

		<h2>Nuestra experiencia de aprendizaje</h2>

		<p>
			Queremos presentarte una emocionante experiencia de aprendizaje que hemos
			diseñado para integrar el Pensamiento Computacional en tus estudios. ¿Qué
			te parece si comenzamos con un vistazo general?
		</p>

		<h2>Experiencia de Aprendizaje: Integrando el Pensamiento Computacional</h2>

		<h3>Objetivos</h3>

		<ul>
			<li>
				Comprender los conceptos de algoritmo, diagrama de flujo y pensamiento
				computacional.
			</li>
			<li>
				Desarrollar habilidades prácticas en la escritura de algoritmos y
				pseudocódigo.
			</li>
			<li>
				Fomentar la reflexión y el intercambio de ideas a través del uso de un
				blog como plataforma educativa.
			</li>
			<li>
				Promover la colaboración y el aprendizaje entre pares mediante la
				exploración y retroalimentación de trabajos.
			</li>
		</ul>

		<h2>Actividades a desarrollar</h2>

		<a href="/blog-actividades/activities/01/">
			<h3>
				Actividad 1: Comprendiendo los conceptos de algoritmo y diagrama de
				flujo
			</h3>
		</a>

		<ul>
			<li>
				Exploraremos ejemplos de algoritmos y diagramas de flujo a través de un
				video y la explicación del docente.
			</li>
			<li>
				Trabajaremos en grupos para crear algoritmos para situaciones
				cotidianas.
			</li>
			<li>
				Compartiremos nuestros algoritmos en el blog y discutiremos cómo
				resolverían las situaciones propuestas.
			</li>
		</ul>

		<a href="/blog-actividades/activities/02/">
			<h3>
				Actividad 2: Representación de algoritmos mediante diagramas de flujo
			</h3>
		</a>

		<ul>
			<li>
				Aprenderemos sobre la estructura y representación de los diagramas de
				flujo.
			</li>
			<li>
				Crearemos diagramas de flujo colaborativamente en parejas utilizando la
				plataforma Draw IO.
			</li>
			<li>
				Publicaremos y exploraremos los diagramas en el blog, ofreciendo
				retroalimentación constructiva a nuestros compañeros.
			</li>
		</ul>

		<h3>¡Únete a nuestra comunidad!</h3>

		<p>
			Te invitamos a explorar nuestras actividades, participar activamente y
			compartir tus ideas y proyectos en nuestro blog. ¡Juntos, hagamos del
			Pensamiento Computacional una experiencia enriquecedora y divertida!
		</p>

		<p>¡Nos vemos en el blog!</p>

		<p>Olga Lucía Gómez</p>
	</section>
</Root>
