---
import Root from '../layouts/Root.astro'
---

<Root>
  <section slot="main-content">
    <h2>Usos de las TIC en la propuesta de aula</h2>

    <p>
      A continuación analizaremos los usos de las Tic en esta caso el blog según
      la tipología de CollC. (2009).
    </p>

    <h2>
      2. Relaciones entre profesores y contenidos de enseñanza y aprendizaje.
    </h2>
    <p>
      Los docentes utilizan las TIC para buscar, seleccionar, acceder,
      organizar, elaborar registros y planificar actividades relacionadas con
      los contenidos de enseñanza y aprendizaje.
    </p>
    <ul>
      <li>
        El docente comparte en el blog materiales educativos como videos,
        ejemplos de algoritmos y presentaciones.
      </li>
    </ul>

    <h2>3. Relaciones entre profesores y alumnos, y entre alumnos.</h2>
    <ul>
      <li>
        Las TIC se usan para llevar a cabo intercambios comunicativos entre
        profesores y alumnos, así como entre los propios estudiantes.
      </li>
      <li>
        Los estudiantes utilizan el blog para publicar sus trabajos, explorar y
        comentar los trabajos de sus compañeros, promoviendo así la interacción
        entre ellos.
      </li>
      <li>
        Los recursos disponibles en el blog complementan la enseñanza en el aula
        y proporcionan a los estudiantes recursos adicionales para reforzar la
        comprensión de los conceptos.
      </li>
      <li>
        Se utiliza el formulario de Google para recoger la impresión de los
        estudiantes sobre el uso del blog en las actividades.
      </li>
    </ul>

    <h2>4. Mediación durante la realización de tareas o actividades:</h2>
    <p>
      Las TIC actúan como auxiliares o amplificadores tanto para el profesor
      como para los alumnos durante la realización de tareas o actividades de
      enseñanza-aprendizaje.
    </p>
    <ul>
      <li>
        El blog se utiliza para compartir instrucciones, materiales y recursos
        necesarios para desarrollar las actividades de clase.
      </li>
      <li>
        El docente realiza reflexiones y brinda retroalimentación sobre el
        proceso y los resultados de las actividades a través del blog.
      </li>
    </ul>

    <h2>5. Configuración de entornos de trabajo y aprendizaje</h2>
    <p>
      Consiste en la configuración de entornos individuales o colaborativos en
      línea, así como en la creación de entornos de actividad en línea que
      faciliten la realización de actividades de aprendizaje.
    </p>
    <ul>
      <li>
        El blog se propone como un entorno de trabajo y aprendizaje organizado
        donde se puede acceder a los materiales de clase, publicar trabajos,
        compartir y comentar. Además, brinda la oportunidad de explorar recursos
        de la clase en cualquier momento.
      </li>
      <li>
        Actividad 2: Se utiliza la herramienta en línea (Draw IO) para colaborar
        en la creación de diagramas de flujo, enriqueciendo así el entorno de
        aprendizaje. Los estudiantes acceden a esta plataforma a través del blog
        para realizar la actividad y luego comparten sus diagramas en el mismo
        blog.
      </li>
    </ul>

    <h3>Referencia</h3>

    <blockquote>
      CollC. (2009). Aprender y enseñar con las TIC: expectativas, realidad y
      potencialidades. En Carneiro, R., Toscano, J. C., & Díaz, T. (Eds.), Metas
      Educativas 2021. Fundación Santillana, España.
    </blockquote>
  </section>
</Root>
