---
import Root from '../layouts/Root.astro'
---

<Root>
  <section slot="main-content">
    <h2>Análisis de los usos de las TIC en la propuesta de aula</h2>
    <p>
      A continuación analizaremos los usos de las Tic en esta caso el blog según
      la tipología de CollC. (2009). Aprender y enseñar con las TIC:
      expectativas, realidad y potencialidades. En Carneiro, R., Toscano, J. C.,
      & Díaz, T. (Eds.), Metas Educativas 2021. Fundación Santillana, España.
    </p>

    <h3>Referencia</h3>

    <blockquote>
      CollC. (2009). Aprender y enseñar con las TIC: expectativas, realidad y
      potencialidades. En Carneiro, R., Toscano, J. C., & Díaz, T. (Eds.), Metas
      Educativas 2021. Fundación Santillana, España.
    </blockquote>
  </section>
</Root>
