---
import image from '../img/banner-home.webp'
---

<article>
  <div class="img-box">
    <img class="banner-image" src={image.src} />
  </div>
  <div class="text-box">
    <h1>Pensar como un Programador: Un Blog de Pensamiento Computacional.</h1>
  </div>
</article>
<style>
  article {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
  }

  .text-box {
    background-color: var(--second-bg-clr);
  }

  h1 {
    margin: 0;
  }

  .img-box {
    font-size: 0;
  }

  img {
    aspect-ratio: 1 / 1;
    width: 100%;
  }

  .text-box {
    padding-inline: 5%;
    padding-block: 10%;
  }

  @media (width > 639px) {
    article {
      flex-direction: row;
    }

    .text-box {
      padding-top: 0;
    }

    h1 {
      margin-top: 5rem;
    }
  }

  @media (width > 639px) {
    article {
      height: 400px;
    }

    .img-box {
      height: 100%;
      aspect-ratio: 1 / 1;
    }

    .text-box {
      display: grid;
      place-items: center;
      padding: 0;
      padding-bottom: 2rem;
      padding-inline: 8rem;
    }

    .text-box h1 {
      font-size: 2.5rem;
    }
  }
</style>
