---

---

<footer>
  <p>Olga Gómez</p>
  <p>Docente de tecnología</p>
</footer>
<style>
  footer {
    text-align: center;
    background-color: var(--second-bg-clr);
    color: rgba(255, 255, 255, 0.781);
    padding-block: 1rem;
    padding-inline: 5%;
    margin-top: 4rem;
  }

  p {
    margin: 0;
    padding: 0;
  }

  @media (width > 639px) {
    footer {
    }
  }
</style>
