---
const pathBase = '/blog-actividades/'
const { pathname } = Astro.url

const menuItems = [
  {
    name: 'Inicio',
    path: '',
  },
  {
    name: 'Usos TIC',
    path: 'tic-uses',
  },
  {
    name: 'Actividad 1',
    path: 'activities/01',
  },
  {
    name: 'Actividad 2',
    path: 'activities/02',
  },
]
---

<nav>
  <ul id="menu">
    {
      menuItems.map((item) => (
        <li
          class:list={[
            'tab',
            { 'current-tab': item.path === pathname.replace(pathBase, '') },
          ]}
        >
          <a href={`${pathBase}${item.path}`}>{item.name}</a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--second-bg-clr);
  }

  ul {
    display: flex;
    list-style: none;
  }

  li {
    display: inline-block;
    padding: 1rem;
  }

  .tab {
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-shadow: 1px 1px 2px #000;
  }

  .current-tab {
    background-color: var(--main-bg-clr);
  }
</style>

<!-- <script>
  const $menu = document.getElementById('menu')
  const $menuItems = Array.from($menu.children) as HTMLElement[]
  const currentItem = sessionStorage.getItem('currentMenuItem') ?? '1'
  const $currentMenuItem = $menuItems.find(
    (item) => item.dataset.item === currentItem
  )
  $currentMenuItem.classList.add('current-tab')

  $menu.addEventListener('click', (e) => {
    const $target = e.target as HTMLElement
    const $elm = $target.parentElement
    $menuItems.forEach((item) => item.classList.remove('current-tab'))
    sessionStorage.setItem('currentMenuItem', $elm.dataset.item.toString())
  })
</script> -->
