---
import 'normalize.css'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
// import { ViewTransitions } from 'astro:transitions'
const { title } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <!-- <ViewTransitions /> -->
  </head>
  <body>
    <Header />
    <main>
      <slot name="main-content" />
    </main>
    <Footer />
    <style is:global>
      *,
      *::after,
      *::before {
        box-sizing: border-box;
      }

      :root {
        --second-bg-clr: rgb(62, 44, 112);
        --main-bg-clr: rgb(31, 28, 37);
      }

      body {
        background-color: var(--main-bg-clr);
        color: rgba(255, 255, 255, 0.85);
        font-family: 'Nunito Variable', sans-serif;
      }

      main {
        width: 90%;
        margin-inline: auto;
      }

      main h2,
      main h3,
      main img {
        margin-top: 3rem;
      }

      p {
        margin-top: 2.5rem;
        padding: 1.5rem;
        border: 1px dotted rgba(140, 82, 207, 0.75);
        line-height: 1.75rem;
        text-wrap: pretty;
      }

      h1,
      h2,
      h3 {
        text-wrap: balance;
      }

      img {
        max-width: 100%;
        height: max-content;
      }

      li {
        margin-bottom: 1rem;
        transition: 0.3s;
      }

      a {
        text-decoration: none;
        color: inherit;
        transition: 0.3s;
      }

      button {
        cursor: pointer;
        transition: 0.3s;
      }

      a:hover,
      li:hover,
      button:hover {
        transform: scale(1.02);
      }

      @media (width > 639px) {
        main {
          width: 80%;
        }
      }

      @media (width > 900px) {
        body {
          font-size: 18px;
        }

        main {
          width: 65%;
        }
      }
    </style>
  </body>
</html>
